.profile {
  margin: 10vh auto;
  padding: 15px 15px 15px;
  border-radius: 3px;
  text-align: center;
  background-color: #e1d1f7;

  box-shadow: 10px 10px 5px 0px rgba(56, 34, 80, 0.2);
  width: 400px;
}

.avatar {
  width: 300px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 20px;
  background-color: #af8fdb;
  border: 3px solid #4a1a8d;
}

.stats_item {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
